<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Add account balance form</title>
</head>
<body>

    <div>
        <h2>Add account balance form</h2>

        <form action="#" th:action="@{/api/v1/accountBalance/addAccountBalance}" method="post" th:object="${accountBalance}">
            <label>Account name: </label><input type="text" th:field="*{accountName}"><br>
            <br><br>
            <button type="submit">Add account</button>
        </form>
    </div>

</body>
</html>